{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="has-text-centered section">
        {% if current_user.is_authenticated %}
            <img src="{{ url_for('static', filename = 'images/happy.gif') }}" alt="" />
            <h1 class="heading mt-5 is-size-3">Yass! You're logged in!</h1>
            <p>Wanna leave? <a href="{{ url_for('logout') }}">Logout!</a></p>
        {% else %}
            <img src="{{ url_for('static', filename = 'images/grumpy_cat.gif') }}" alt="" />
            <h1 class="heading mt-5 is-size-3">You are not logged in!</h1>
            <p class="mt-3">Please <a href="{{ url_for('register') }}">register</a> or <a href="{{ url_for('login') }}">login</a> if you already have an account</p>
        {% endif %}
    </div>
{% endblock %}